/*Index*/

            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
                background-color: #fafafa;
            }
            #wrapper {
                margin: 0;
                padding: 0;
                min-height:100%;
                position:relative;
            }

/* header CSS starts here */
            #header {
                display: block;
                background: url(../images/header.gif) no-repeat fixed center;
                background-size: auto;
                height: 80px;
                max-width: 100%;
                width: 100%;
                box-sizing: border-box;
                position:fixed;
                top:0px;
                z-index: 3;
            }
            .header-inner-container{
                max-width: 90%;
                margin-left: auto;
                margin-right: auto;
                margin: 0 auto;
                position: relative;
                text-align: center;
            }
            
            .header_logo {
                display: inline-block;
                height: 70px;
                max-width: 150px;
            }
            .header_master{
                top: 15px;
                right: 105px;
                bottom: 28px;
                left: 105px;
                position: absolute;
                width: auto;
                height: 32px;
                z-index: 3;
            }
            .header_login{
                display: inline-block;
                height: 20px;
                width: 80px;
                float: right;
                font-size: 17px;
                margin-top: 40px;
                color: 0d285b;
                border-style: solid;
                border-width: 2px;
                padding: 2px 15px;
                border-color: 567ab5;
                border-radius: 8px;
                box-shadow: 1px 1px 5px grey;
            }
            .header_login:hover{
                box-shadow: 0px 0px 20px grey;
            }
            .header_register{
                display: inline-block;
                height: 20px;
                width: 80px;
                float: left;
                margin-top: 40px;
                color: 0d285b;
                border-style: solid;
                border-width: 2px;
                padding: 2px 15px;
                border-color: 567ab5;
                border-radius: 8px;
                box-shadow: 1px 1px 5px grey;
                
            }
            .header_register:hover{
                box-shadow: 0px 0px 20px grey;
            }
/* header CSS ends here */
            




/* navigation menu CSS starts here */
            #navmenu {
                display: block;
                background: #fafafa;
                text-align: center;
                padding-top: 100px;
                z-index: -1;
            }
            .navmenu-inner-container{
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin: 0 auto;
                position: relative;
                background-color: #333;
                height: 52px;
            }
            ul {
                display: inline-block;
                font-size: 20px;
                list-style-type:none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
                text-align: center;
            }
            li {
                float:left;
            }
            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 56px;
                text-decoration: none;
                border-left: solid 2px black;
            }
            li:last-child  a{
                border-right: solid 2px black;
            }
            li a:hover {
                background-color: #111;
                font: bolt;
            }
/* navigation menu CSS ends here */
            




/* main CSS starts here */
            #main {
                background: #fafafa;
                text-align: center;
                min-height: 180px;
                padding-bottom:180px;   /* Height of the footer+below footer */
                
            }
            .main-inner-container{
                width: 90%;
                margin: 0 auto;
                position: relative;
            }
            .main-getstarted{
                  width: 100%;
                  height: 450px;
                

                  background-image: url(../images/main_image.jpeg) fixed center;
                background-repeat: no-repeat;
                  background-image: -webkit-linear-gradient(left, 
                    rgba(255,255,255,0.9) 10%, 
                    rgba(255,255,255,0.2) 70%,
                    rgba(255,255,255,0.7) 90%,
                    rgba(255,255,255,1) 100%
                  ),
                  url(../images/main_image.jpeg);
            }
            .main-getstarted-container{
                float: left;
                text-align: left;
                color: #333;
            }
            .main-getstarted-container-text{
                font-size: 45px;
                font-family: "Times New Roman", Times, serif;
            }
            .main-getstarted-container-button{
                float:left;
                border-style: solid;
                padding: 10px 15px;
                border-color: 3370d4;
                text-decoration-color: 3370d4;
                border-radius: 8px;
                box-shadow: 2px 2px 2px grey;
            }
            .main-getstarted-container-button:hover{
                background-color: 8bace2;
                box-shadow: 5px 5px 2px grey;
                
            }
            #main-container-leftText-rightImage{
                display: block;
                float: left;
                position: absolute;
                width: 40%;
                height: 400px;
                background-color: #333;
                z-index: 2;
            }
            .main-2nd-container_image{
                display: block;
                position: relative;
                width: 100%;
                height: 400px;
                background-image: url("../images/designerdesk-27-copy.jpg");
                background-image: -webkit-linear-gradient(left, 
                    rgba(255,255,255,0.1) 10%, 
                    rgba(255,255,255,0.1) 90%
                  ),
                  url(../images/designerdesk-27-copy.jpg);
                background-repeat: no-repeat;
                background-position: right; 
                z-index: 1;
            }
            .main-2nd-container-text{
                font-size: 40px;
                font-family: "Times New Roman", Times, serif;
                color: lightcyan;
                float: left;
                text-align: left;
            }
            .main-text-smaller{
                font-size: 25px;
            }


            .main-3rd-container_text{
                display: block;
                position: relative;
                float: left;
                width: 100%;
                height: 400px;
                background-color: #333;
                background-position: right; 
                z-index: 1;
            }
            .main-3rd-container_image{
                display: block;
                position: relative;
                width: 55%;
                height: 400px;
                float:left;
                background-image: url("../images/family-vacation.jpg");
                background-image: -webkit-linear-gradient(left, 
                    rgba(255,255,255,0.1) 10%, 
                    rgba(255,255,255,0.1) 80%
                  ),
                  url(../images/family-vacation.jpg);
                background-repeat: no-repeat;
                z-index: 1;
            }
            .space{
                height: 400px;
                width: 50px;
                position: relative;
                background-color: #333;
                position: relative;
                float: left;
                width: 30px;
            }
            .main-3rd-container-text{
                font-size: 40px;
                position: relative;
                font-family: "Times New Roman", Times, serif;
                color: lightcyan;
                text-align: left;
                padding-right: 40px;
            }
            .main-4th-background{
                padding-top: 400px;
                width: 100%;
                height: 320px;
                position:relative;
                background-color:#dae2ef; 
            }       
.main-4th-container{
                
                position: relative;
                width: 100%;
                height: 300px;
                float:left;
                background-image: url("../images/ribbon.png");
                background-image: -webkit-linear-gradient(left, 
                    rgba(255,255,255,0.1) 10%, 
                    rgba(255,255,255,0.1) 80%
                  ),
                  url(../images/ribbon.png);
                background-repeat: no-repeat;
                z-index: 1;
}
/* main CSS ends here */
            



/* footer CSS starts here */
            #footer {
                background: url(../images/footer.gif) fixed center;
                display: block;
                text-align: center;
                position: absolute;
                bottom:0;
                width:100%;
                height:150px;
                margin-bottom: 50px;
            }
            .footer-content{
                float:left;
                width: 33%;
                font-size: 18px;
                
            }
            #copyright-container{
                background: url(../images/footer_30px.gif) fixed center;
                bottom: 0;
                position: absolute;
                width: 100%;
            }
            .copyright-inner-container {
                width: 90%;
                margin: 0 auto;
                position: relative;
            }
            .dot{
                vertical-align: middle;
            }
            #contactus{
                font-size: 25px;
            }
/* footer CSS ends here */
            
            





/*LOGIN */
            .login-getstarted{
                  width: 100%;
                  height: 450px;
            }
            .login-inner-container{
                width: 450px;
                height: 300px;
                margin: 0 auto;
                margin-top: 80px;
                background-color: #ebeaea;
                border-radius: 4px;
                text-align: center;
                padding-top: 10px;
                font-size: 28px;
            }
.login-inner-container input{
    height: 40px;
    width: 320px;
    font-size: 18px;
    margin-bottom: 15px;
    padding-left: 20px;
}
.login-inner-container input[type="submit"]{
    margin-top: 10px;
    height: 40px;
    width: 100px;
    padding: 0px;
    background-color: #2ecc71;
    border-radius: 4px;
    border: none;
    border-bottom: 4px solid #27AE60;
}


/* REGISTER */
            .register-getstarted{
                  width: 100%;
                  height: 550px;
                
            }
            .register-inner-container{
                width: 450px;
                height: 450px;
                margin: 0 auto;
                margin-top: 80px;
                background-color: #ebeaea;
                border-radius: 4px;
                text-align: center;
                padding-top: 10px;
                font-size: 28px;
            }
.register-inner-container input{
    height: 30px;
    width: 320px;
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.register-inner-container input[type="submit"]{
    margin-top: 10px;
    height: 40px;
    width: 150px;
    padding: 0px;
    background-color: #2ecc71;
    border-radius: 4px;
    border: none;
    border-bottom: 4px solid #27AE60;
    margin-left: 80px;
}

            .loginbox-form-container{
                text-align:left;
                color: #333;
                font-size: 20px;
                padding-top: 30px;
                margin-left: 60px;
                
            }


/* DASHBOARD */

            /*navigation */
            .dashnav_ul{
                display: inline-block;
                font-size: 21px;
                list-style-type:none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
                
            }
            .dashnav_li {
                display: block;
                color: white;
                padding: 14px 106px;
                text-decoration: none;
                float: left;
                background-color: #111;
            }
.uploadbox{
    margin: 0 auto;
    width: 400px;
    padding: 10px;

}

.filetable{
    padding: 30px;
    border: solid;
    margin: 0 auto;
}
.filerow{
    padding: 30px;
    border: solid;
}

.uploadbutton{
    margin-top: 20px;
    height: 35px;
    width: 120px;
    padding: 0px;
    background-color: #2ecc71;
    border-radius: 4px;
    border: none;
    border-bottom: 4px solid #27AE60;
    margin-left: 0px;
}